@keyframes animation {
  from {top: 0px;}
  to {top: 200px;}
}

body{
  display: flex;
  justify-content: center;
}

.wrapper{
  background-color: lightgray;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 400px;
}

.drop{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--order) * 200ms);
  animation-name: animation;
  animation-duration: 2s;
}
